<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Damimall_Release.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>E07DD212871BE47D9A9A623709EAB18996095D5B</string>
				<key>dateExpires</key>
				<string>2018/11/21</string>
				<key>type</key>
				<string>iOS Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E07DD212871BE47D9A9A623709EAB18996095D5B</string>
						<key>dateExpires</key>
						<string>2018/11/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>HelpDesk.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67KH8G54PQ</string>
						<key>name</key>
						<string>Heinong (Beijing) International Internet Technology Development Co.,Ltd.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>E07DD212871BE47D9A9A623709EAB18996095D5B</string>
						<key>dateExpires</key>
						<string>2018/11/21</string>
						<key>type</key>
						<string>iOS Development</string>
					</dict>
					<key>name</key>
					<string>HyphenateLite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>67KH8G54PQ</string>
						<key>name</key>
						<string>Heinong (Beijing) International Internet Technology Development Co.,Ltd.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>67KH8G54PQ.com.zhongguodamiwang.app</string>
				<key>com.apple.developer.team-identifier</key>
				<string>67KH8G54PQ</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>67KH8G54PQ.com.zhongguodamiwang.app</string>
				</array>
			</dict>
			<key>name</key>
			<string>Damimall_Release.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>598c4655-44b9-43ca-b6a4-ef3583516ad7</string>
				<key>name</key>
				<string>DamiDevelop</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>67KH8G54PQ</string>
				<key>name</key>
				<string>Heinong (Beijing) International Internet Technology Development Co.,Ltd.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
